body {
    margin: 0;
    font-family: Arial, sans-serif;
};
.container{
    width: 90%;
    margin: 0 auto;
    background-color: azure;
}
.js-practic{
    display: flex;
    justify-content: center;
    align-items: center;
}