.div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    justify-content: center;
    align-items: center;
}

#text {
    background-color: rgb(39, 96, 255);
    border-radius: 10px;
}